@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --z50: #fafafa;
  --z100: #f4f4f5;
  --z200: #e4e4e7;
  --z300: #d4d4d8;
  --z400: #a1a1aa;
  --z500: #71717a;
  --z600: #52525b;
  --z700: #3f3f46;
  --z800: #27272a;
  --z900: #18181b;
  --z950: #09090b;
}

:root {
  --sky50: #f0f9ff;
  --sky100: #e0f2fe;
  --sky200: #bae6fd;
  --sky300: #7dd3fc;
  --sky400: #38bdf8;
  --sky500: #0ea5e9;
  --sky600: #0284c7;
  --sky700: #0369a1;
  --sky800: #075985;
  --sky900: #0c4a6e;
  --sky950: #082f49;
}