@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --z50: #fafafa;
    --z100: #f4f4f5;
    --z200: #e4e4e7;
    --z300: #d4d4d8;
    --z400: #a1a1aa;
    --z500: #71717a;
    --z600: #52525b;
    --z700: #3f3f46;
    --z800: #27272a;
    --z900: #18181b;
    --z950: #09090b;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Sarabun", sans-serif
}

.nav {
    background-color: var(--z800);
    position: sticky;
    top: 0;
    z-index: 2;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
}

.nav-group {
    display: flex;
    padding: .7rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.nav-btn {
    background-color: var(--z700);
    color: var(--z200);
    opacity: 60%;
    border: 0;
    padding: .15rem 1rem;
    border-radius: .8rem;
    transition-duration: .2s;
}

.nav-btn:hover {
    opacity: 100%;
}

.nav-title {
    font-size: large;
    font-weight: 600;
    color: var(--z200);
}

.nav-input::placeholder {
    color: var(--z200);
    font-weight: 400;
}

.nav-input {
    opacity: 60%;
    background-color: var(--z700);
    border: 0;
    padding: .15rem 1rem;
    border-radius: .8rem;
    transition-duration: .2s;
    color: var(--z200);
    font-weight: 400;
}

.nav-input:focus {
    outline: none;
    opacity: 100%;
}